<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka" version="1.8.2" targetFramework="net45" />
  <package id="cyqdata" version="5.9.0.6" targetFramework="net45" />
  <package id="librdkafka.redist" version="1.8.2" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net40" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net45" />
  <package id="Taurus.DistributedLock" version="2.0.1.1" targetFramework="net45" />
</packages>